**Data Science Tools and Ecosystem**

  In this notebook, Data Science Tools and Ecosystem are summarized .
 
 **Objectives :**
 
     .Create a markdown cell to list data science libraries;
 
     .Create a markdown cell with a table of Data Science tools;
 
     .Create a code cell to multiply and add numbers;
 
     .Create a code cell to convert minutes to hours.
  
  



Some of the popular languages that Data Scientists use are:
 -Python
 -SQL
 -R
 
 Some of the commonly used libraries used by Data Scientists include:
 -Pandas
 -Scikit-learn
 -keras
 -PyTorch...

 | Data Science Tools |
 |--------------------|
 | MySQL |
 | RStudio |
 |Jupyter|

**Below are a few examples of evaluating arithmetic expressions in Python**

In [5]:
 #This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
 #This will convert 200 minutes to hours by diving by 60
 200/60

3.3333333333333335

**AUTHOR: DRISS AHARHAR**